<div class="spacing-bar"></div>
<div class="container-fluid p-0 home-page">
    <main role="main" class="pb-0">
        <div class="row h-100">
            <div class="col flex-grow-1 d-flex left-column"></div>
            <div class="col-auto middle-column">
                <div class="text-box">
                    <h2>Łatwe zarządzanie rachunkami!</h2>
                    <p>Idealne rozwiązanie dla osób prywatnych, 
                        gospodarstw domowych i mikrofirm. Zarządzaj fakturami, 
                        monitoruj płatności i ciesz się przejrzystością finansów.</p>
                </div>
            </div>
            <div class="col flex-grow-1 d-flex right-column"></div>
        </div>
    </main>
</div>